[package]
name = "siderophile"
version = "0.1.0"
authors = ["Michael Rosenberg <michael.rosenberg@trailofbits.com>", "Claudia Richoux <claudia.richoux@trailofbits.com>"]
edition = "2018"
license = "AGPL-3.0"

[lib]
name = "siderophile_callgraph"
path = "src/lib.rs"

[[bin]]
name = "siderophile"
path = "src/main.rs"

[dependencies]
cargo = "0.50"
env_logger = "0.8"
log = "0.4"
structopt = "0.3"
syn = { version = "1.0", features = ["full", "visit"] }
walkdir = "2.3"
regex = "1"
llvm-ir = {version = "0.7.4", features = ["llvm-11"]}
anyhow = "1"
rustc-demangle = "0.1"
glob = "0.3"
tempfile = "3.1.0"

