[package]
name = "siderophile"
version = "0.1.0"
authors = ["Michael Rosenberg <michael.rosenberg@trailofbits.com>", "Claudia Richoux <claudia.richoux@trailofbits.com>"]
edition = "2018"
license = "AGPL-3.0"

[dependencies]
cargo = "0.39"
env_logger = "0.6"
log = "0.4"
structopt = "0.3.12"
syn = { version = "0.15", features = ["full"] }
walkdir = "2.2"
regex = "1"
rustc-demangle = "0.1"
glob = "0.3.0"
