[package]
name = "siderophile"
version = "0.1.0"
authors = ["Michael Rosenberg <michael.rosenberg@trailofbits.com>"]
edition = "2018"
license = "AGPL-3.0"

[dependencies]
cargo = "0.46"
env_logger = "0.7"
log = "0.4"
structopt = "0.3"
syn = { version = "1.0", features = ["full", "visit"] }
walkdir = "2.3"
regex = "1"
llvm-ir = "0.6"
anyhow = "1"
rustc-demangle = "0.1"
glob = "0.3"

