name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: '0 12 * * *'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install LLVM 12
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 12
      - uses: actions/checkout@v2
      - name: Format
        run: cargo fmt && git diff --exit-code
      - name: Lint
        run: |
          rustup update
          rustup component add clippy
          cargo clippy -- -D warnings
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install LLVM 12
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 12
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build
    - name: Test
      run: |
        cargo test
