name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: "0 12 * * *"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 17
      - uses: actions/checkout@v3
      - name: Format
        run: cargo fmt && git diff --exit-code
      - name: Lint
        run: cargo clippy
      - name: Cargo sort
        run: |
          cargo install cargo-sort
          cargo sort -c
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 17
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Unit tests
        run: cargo test
      - name: Integration tests
        run: |
          cargo build --release
          cd tests
          ./run_tests.sh
